html,
body {
  margin: 0;
}

html {
  background-color: $bg-color;
}

body {
  max-width: $content-width;
  margin: 0 auto;
  scroll-behavior: smooth;
}

img,
iframe {
  width: 100%;
}

.spacer {
  min-height: 5rem;
}

.content {
  margin-left: 1rem;
  margin-right: 1rem
}

.game-container {
  min-height: 12rem;
  padding: 2rem;
  margin: 2rem 0 0 0;
  border-radius: 4px;
  background: $primary-color;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(aut, minmax(40%, 100%));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 1rem;
  min-width: 100%;

  /* This is the standardized property now, but has slightly less support */
  /* gap: 1rem */
  div {
    min-width: 100%;
    max-width: 100%;
  }
}



@media only screen and (min-width: $content-width) {

  .content {
    margin-left: 0;
    margin-right: 0;
  }

  .two-columns {
    grid-template-columns: repeat(2, minmax(40%, 100%));

  }


}