html,
body{
  margin: 0;
}

html{
  background-color: $bg-color;
}

body{
    color: $text-color;
    max-width: 64rem;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

.game-container{
  min-height: 12rem;
  padding: 1rem 2rem;
  margin: 2rem 1rem;
  border-radius: 4px;
  background: crimson;

  div{
    max-width: 50%;
  }

}

.chroma-split{
  filter: drop-shadow(0 3px 0 #F2AC57)
          drop-shadow(0 3px 0 #F26E50)
          drop-shadow(0 3px 0 #F25260)
          drop-shadow(0 3px 0 #443D73)
          drop-shadow(0 3px 0 #2D2E40);
}

@media only screen and (min-width: 64rem){

  .game-container {
    margin: 2rem 0 0 0;
  }

}